# Problem 1
#### a. Load the corresponding .csv file into a data frame named cars using pandas.

##### import pandas library

In [3]:
import pandas as df

##### Using .read_csv() loaded cars.csv into variable cars

In [5]:
cars = df.read_csv('cars.csv')

#### b. Display the first five and last five rows of the resulting cars.
##### Use .head to display first 5 rows

In [7]:
cars.head()

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

Use .tail() to display last 5 rows

In [9]:
cars.tail()

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.9,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.5,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.5,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.6,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.6,1,1,4,2

# Problem 2
#### a. Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.

##### using iloc for index locating with parameter of 0:5 to display first 5 rows and a second parameter of 1::2 so it displays the first column then every other column after

In [12]:
cars.iloc[0:5,1::2]

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

#### b. Display the row that contains the ‘Model’ of ‘Mazda RX4’.

##### Using .loc with parameters looking for 'Maza RX4' in column model

In [15]:
cars.loc[cars['Model']=='Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

#### c. How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?

##### Same as before but with an additional parameter where it will only display the colums model and cylinder count

In [18]:
cars.loc[cars['Model']=='Camaro Z28',['Model','cyl']]

         Model  cyl
23  Camaro Z28    8

#### d. Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

##### First, placed the models of cars that are asked for in a list. Then using .loc() with the following parameters displaying all rows that has the models of cars that is in the list and displaying only the columns, model,cyl, and gear.

In [21]:
car_models = ['Camaro Z28', 'Ford Pantera L', 'Honda Civic']
cars.loc[cars['Model'].isin(car_models),['Model','cyl','gear']]

             Model  cyl  gear
18     Honda Civic    4     4
23      Camaro Z28    8     3
28  Ford Pantera L    8     5