In [1]:
#Import pandas libraru
import pandas as df

#Load the corresponding .csv file into a data frame named cars using pandas
cars = df.read_csv('cars.csv')

In [2]:
#Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.
cars.iloc[0:5,1::2]

    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

In [3]:
#Display the row that contains the ‘Model’ of ‘Mazda RX4’.
cars.loc[cars['Model']=='Mazda RX4']

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [4]:
#How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?
cars.loc[cars['Model']=='Camaro Z28',['Model','cyl']]

         Model  cyl
23  Camaro Z28    8

In [5]:
#Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4 Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.
car_models = ['Camaro Z28', 'Ford Pantera L', 'Honda Civic']
cars.loc[cars['Model'].isin(car_models),['Model','cyl','gear']]

             Model  cyl  gear
18     Honda Civic    4     4
23      Camaro Z28    8     3
28  Ford Pantera L    8     5